<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Recepie Home</title>
    </head>
    <body>

        <nav class="navbar navbar-light shadow-lg" style="background-color: #e3f2fd;">
            <!-- Navbar content -->
            <div class="container-fluid">
                <a class="navbar-brand">  Recipe App  </a>
                {% if request.user.is_authenticated %}
                    <a href="/logout/" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout  </a>
                {% else %}
                    <a href="/login-page/" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login  </a>
                    {% endif %}
            </div>

        </nav>

        {% block start %}

        {% endblock %}
    </body> 

    <script>
        console.log("hey Djago")
    </script>
</html>