{% extends "base.html" %}

{% block start %}

<div class="container mt-5 mb-3">

  <form class="col-6 mx-auto card p-3 shadow-lg mb-3" enctype="multipart/form-data" method="post">

    {% csrf_token %}
    <h2>ADD RECIPE</h2>
    <hr>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
      <input type="text" class="form-control" name="Recipe_Name">
    </div>

    <div class="mb-3">
      <label for="recepieDescription" class="form-label">Description</label>
      <textarea class="form-control" name="Recipe_Description" required></textarea>
    </div>

    <div class="mb-3">
      <label for="recepieDescription" class="form-label">Recipe Image</label>
      <input type="file" class="form-control" name="Recipe_Image">
    </div>

    <button type="submit" class="btn btn-success">Add Recipe</button>

  </form>

  <hr class="mt-5 mb-3" >

  <div class="mt-10">
    <div class="mx-auto col-6">
      <form>
        <div class="mb-3">
          <label for="searchlable" class="mb-3">Search Recipe</label>
          <input name="Search" type="text" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">Recipe Name</th>
        <th scope="col">Recipe Description</th>
        <th scope="col">Image</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      {% for i in recipes %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.recepie_name}}</td>
        <td>{{i.recepie_description}}</td>
        <td>
          <img src="/media/{{i.recepie_image}}" style="height: 100px;">
        </td>
        <td>
          <a href="/recipe-update/{{i.id}}" class="btn btn-success mt-1">update</a>
          <a href="/delete-recipe/{{i.id}}" class="btn btn-danger mt-2">Delete</a>
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>


{% endblock %}